<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img
            class="card-img-top img-thumbnail"
            src="{{ user?.photoUrl || '../../../assets/favicon.ico' }}"
            alt="{{ user?.knownAs }}"
          />
          <div>
            <strong>Localtion:</strong>
            <p>{{ user?.city }}, {{ user?.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user?.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user?.lastActive }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ user?.created }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ user.knownAs }}">
            <h4>Description:</h4>
            <p>{{ user?.introduction }}</p>
            <h4>Looking For</h4>

            <p>{{ user?.lookingFor }}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{ user?.interests }}</p>
          </tab>

          <tab heading="Photos">
            <div class="container mt-4" *ngIf="!user.photos.length">
              No photos available for the user
            </div>
            <!-- Container for the image gallery -->
            <div class="container mt-4" *ngIf="user.photos.length">
              <!-- Full-width images with number text -->
              <div
                *ngFor="let photo of user.photos; index as indexOfelement"
                class="mySlides"
              >
                <div class="numbertext">
                  {{ indexOfelement+1 }} / {{ user.photos.length }}
                </div>
                <img src="{{ photo.url }}" style="width: 100%;" />
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
              <a class="next" (click)="plusSlides(1)">&#10095;</a>

              <!-- Image text -->
              <div class="caption-container">
                <p id="caption"></p>
              </div>

              <!-- Thumbnail images -->
              <div class="row mt-4">
                <div
                  *ngFor="let photo of user.photos; index as indexOfelement"
                  class="column"
                >
                  <img
                    class="demo cursor"
                    src="{{ photo.url }}"
                    style="width: 100%;"
                    (click)="currentSlide( indexOfelement)"
                    alt="{{ photo.description }}"
                  />
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Messages">
            <p>Messages go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

{{showSlides(slideIndex)}}
